.container {
  /* display: flex;
  justify-content: flex-start;
  border-radius: 1%; */
  background-color: #0d1117;
  margin: 10px auto;
  width: 60%;
}
/* .container{
  width: 100%;
  height: auto;
  background-color: #0d1117
} */
h1 {
  color: #0d11a5;
}
h3 {
  text-align: justify;
  color: #c3d1d9;
  margin: 20px auto 20px 0px;
}
li {
  color: #c3d1d9;
}
p {
  text-align: justify;
  color: #c3d1d9;
}
strong {
  font-size: 15px;
}
a {
  text-align: justify;
  color: grey;
}
